:root {
    --primary-pink: pink;
    --primary-white: whitesmoke;
    --primary-red: red;
}

a {
    text-decoration: none;
    color: var(--primary-red);
}

a:hover {
    color: var(--primary-pink);
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-pink);
}

nav > a {
    height: 3rem;
    width: 10rem;
    background-color: var(--primary-pink);
    text-align: center;
    align-content: center;
    color: var(--primary-red);
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > a:hover {
    background-color: aliceblue;
}

