footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-pink);
}

footer > div:first-child {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div:first-child > img {
    width: 35vw;
    padding-top: 4%;
}

footer > div >  a {
    height: 2rem;
    color: var(--primary-red);
    font-size: 1.4rem;
}

footer > div > a:hover {
    color: var(--primary-white);
}

footer > div:last-child {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.position {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem;
}

.position > img {
    height: 1.5rem;
}

p {
    font-size: 1.5rem;
}

#social {
    height: 4rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

#social:hover {
    height: 3.4rem;
}

footer > div:nth-child(2) > p {
    margin-bottom: 0px;
}

@media screen and (max-width: 750px)  {
    footer {
        display: flex;
        flex-direction: column;
    }
    footer > div:last-child > a, footer > div:last-child p, .position > p {
        font-size: 1.5rem;
    }

    footer > div:last-child {
        margin-left: 2.5rem;
    }

    footer > div:first-child > img {
        width: 23rem;
    }

    footer > div:first-child > img {
        /* width: 20rem; */
        content: url("//Footer-images/footer-img-small.png");
        width: 15rem;
    }
}

@media screen and (max-width: 400px)  {
    footer {
        display: flex;
        flex-direction: column;
    }
    footer > div:last-child > a, footer > div:last-child p, .position > p {
        font-size: 1.2rem;
    }

    footer > div:last-child {
        margin-left: 2rem;
    }

    footer > div:first-child > img {
        /* width: 20rem; */
        content: url("//Footer-images/footer-img-small.png");
        width: 15rem;
    }

}