img {
    width: 5rem;
}

:root {
    --title: 3rem;
    --title2: 2rem;
    --text: 1.7rem;
}

nav > a:nth-child(2) {
    background-color: whitesmoke;
}

body > div {
    display: flex;
    flex-direction: column;
}

body > div > h1 {
    text-align: center;
    font-size: var(--title);
    margin: 1rem;
}

li {
    font-size: var(--text);
}

h3 {
    font-size: var(--title2);
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-container > div:first-child {
    background-color: palevioletred;
    text-align: center;
}

.about-container > div:first-child > img {
    width: 20rem;
}

.education-container {
    background-color: aquamarine;
}

.demographic {
    background-color: rgb(233, 220, 246);
}

.demographic > div:nth-child(3) {
    display: flex;
}

.demographic > div:nth-child(1), 
.demographic > div:nth-child(2) {
    font-size: var(--text);
}

.skills-container {
    background-color: bisque;
}