h1 {
    margin: 2rem 0rem 2rem;
    text-shadow: 2px 2px var(--primary-red);
    color: var(--primary-pink);
    font-size: 70px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.layout {
    width: 70%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-image > img {
    width: 40rem;
    margin-top: 2rem;
}

.content-text {
    width: 30rem;
    margin: 3rem 0rem 3rem;
    font-size: 20px;
    line-height: 30px;
}

.content-text > a {
    color: var(--primary-red);
}

.content-text > a:hover {
    font-size: 25px;
    text-shadow: 2px 2px var(--primary-pink)
}

.contact-image {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contact-image > img {
    width: 250px;
    margin: 2rem;
}

@media screen and (max-width: 960px) {
    .contact-image {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 40px;
    }

    .hero-image > img {
        width: 23rem;
    }

    .content-text > p, .content-text > a {
        font-size: 13px;
    }
    
    .contact-image > img {
        width: 15rem;
    }
}

@media screen and (max-width: 400px) {
    .hero-image > picture > img {
        width: 18rem;
    }

    h1 {
        font-size: 35px;
    }

    .content-text {
        justify-items: center;
    }

    .content-text > p, .content-text > a {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 20rem;
    }

    .content-text > a:hover {
        font-size: 15px;
    }

    .contact-image > picture {
        display: flex;
        flex-direction: column;
    }

    .contact-image > picture > img {
        width: 18rem;
        padding-bottom: 2rem;
    }
}
